name: Notify Slack when PR Review is Requested

on:
  pull_request:
    types: [ready_for_review, review_requested]

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Send notification to Slack
        uses: slackapi/slack-github-action@v2.1.1
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK }}
          webhook-type: incoming-webhook
          payload: |
            {
              "blocks": [
                {
                  "type": "header",
                  "text": {
                    "type": "plain_text",
                    "text": ":git: PR ready for review - [PoCo]"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*docs: Update README.md because it's cool `code`* <https://github.com/zguesmi/pull-notifier-tests/pull/2 | #2>"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*Author*: username\n*Reviewers*: username1, username2"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*Description*:\nSome good description going heer `abc`"
                  }
                }
              ]
            }