name: Notify PR reviewers

on:
  pull_request:
    types:
      - ready_for_review
      - review_requested

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Send Slack notification
        uses: ./
        with:
          slack-token: ${{ secrets.SLACK_BOT_TOKEN }}
          channel: ${{ secrets.SLACK_CHANNEL_ID }}
          slack-member-ids-map: ${{ secrets.SLACK_MEMBER_IDS_MAP }}
