name: Notify reviewers

on:
  pull_request:
    types:
      - ready_for_review
      - review_requested

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Send notification to Slack
        uses: slackapi/slack-github-action@v2.1.1
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK }}
          webhook-type: incoming-webhook
          # Note:
          # The PR description (body) is not included because GitHub and Slack use different
          # markdown dialects (e.g., Links are not rendered the same way).
          payload: |
            {
              "blocks": [
                {
                  "type": "header",
                  "text": {
                    "type": "mrkdwn",
                    "text": ":git: PR ready for review - <${{ github.event.repository.html_url }}|${{ github.event.repository.full_name }}>"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*${{ github.event.pull_request.title }}* <${{ github.event.pull_request.html_url }} | #${{ github.event.pull_request.number }}>"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*Repository*: <${{ github.event.repository.html_url }} | ${{ github.event.repository.full_name }}> \n *Author*: ${{ github.event.pull_request.user.login }} \n *Reviewers*: ${{ join(github.event.pull_request.requested_reviewers.*.login, ', ') }}"
                  }
                }
              ]
            }